#site {
    justify-content: center;
        width: 100%;
        height: 1000px;
}

.card {
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.load {
    z-index: 9999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url('.../imagens/load.gif') no-repeat center !important;
}

.noActive {
    display: none;
}
.yesActive {

}

.container-card {
    display: flex;
    justify-content: center;
}

.card-img-top {
    width: 50px !important;
    height: 50px !important;
}
