body {
}
#site {
    justify-content: center;
    width: 100%;
    height: 1000px;
}

nav {
    background: linear-gradient(to right, #d85e69, #d65b66, #d55762, #d3545f, #d1505c, #d24d59,
     #d24957, #d34654, #d54250, #d83e4d, #da3a49, #dc3545);
    display: flex;
}

.nav-link {
    color: white !important;
}

.btn-outline-danger-custom {
    color: white !important;
    border-color: white !important;
}

p {
    font-size: 18px;
    font: monospace;
    font-family: courier;
    text-shadow: inherit;
}

.carousel-inner {
    border-radius: 7px;
}

.card {
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    width: 100px;
}

#card-title {
    font: monospace;
    font-family: courier;    
}

.card-img-top {
    width: 50px !important;
    height: 50px !important;
}

.load {
    z-index: 9999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url('.../imagens/ecl.gif') no-repeat center !important;
}

.noActive {
    display: none;
}
.yesActive {

}

.container-card {
    display: flex;
    justify-content: center;
}


